html {
  box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  i {
    font-family: "Noto Sans Japanese", sans-serif;
  }

  hr {
    color: #000;
  }

  a {
    color: #005e76;
    text-decoration: underline;
  }

  a :hover {
    color: #0084a6;
    text-decoration: underline;
  }

  .btn-ghost {
    background-color: #0084a6;
    color: #d89fb0
  }

  .btn-ghost :hover {
    background-color: #0084a6;
    border: #8bc9d9;
  }

  footer {
    color: #e2e2e2;
  }
}
